$main-color: #003844;
$main-fill-color: #f0efe3;
$secondary-fill-color:  #DBDBDB;
$main-accent-color: #B66D0D;
$secondary-accent-color: #6b0504;

.main-fill-color {
    background-color: $main-fill-color;

}

body {
    background-color: $main-fill-color;


}